<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Frontend Mentor | Todo app</title>
  
  </head>
  <body>
    <div class="container" id="container">
      <img src="images/bg-desktop-light.jpg" alt="background" id="header-img" />
      <!-- todo Card -->
      <div class="card">
        <header>
          <h1>TODO</h1>
          <div class="theme-toggler">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                <path
                  fill="#FFF"
                  fill-rule="evenodd"
                  d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 1 0 011-1z"
                />
              </svg>
            </span>
            <span class="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
                <path
                  fill="#FFF"
                  fill-rule="evenodd"
                  d="M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z"
                />
              </svg>
            </span>
          </div>
        </header>

        <div class="box">
          <form class="item" action="/" method="post">
            <input
                type="checkbox"
                name="checkbox"
              />
            <input
              type="text"
              name="newItem"
              placeholder="Please enter TODO here..."
              autocomplete="off"
            />
            <button type="submit" value="add" name="todoAction">Add</button>
            
        </div>

        <div class="box">
          <% newListItems.forEach(function (item){
              if (item.status == "completed"){%>
                <div class="item muted">
                  <input
                    type="checkbox"
                    name="checkbox"
                    value="<%=item._id %>"
                  />
                  
                  <p><%=item.task%></p>
                </div>
                <% } else { %>
            <div class="item">
              <input type="checkbox" class="checkbox" name="checkbox" value="<%=item._id %>">
              <span class="cross"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="#494C6B" fill-rule="evenodd" d="M16.97 0l.708.707L9.546 8.84l8.132 8.132-.707.707-8.132-8.132-8.132 8.132L0 16.97l8.132-8.132L0 .707.707 0 8.84 8.132 16.971 0z"/></svg></span>
              <p><%=item.task%></p>
            </div>
          <% }}) %>
        </div>

        <div class="box btn-area">
          <span><%=activeTask%> items left</span>
          <div class="btn-area">
            <button type="submit" value="all" name="todoAction">All</button>
          <button type="submit" value="active" name="todoAction">Active</button>
            <button type="submit" value="completed" name="todoAction">Completed</button>
          </div>
          <button type="submit" value="clear" name="todoAction">Clear Completed</button>
        </div>
      </form>
      </div>
      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="https://github.com/hxncodes">hxncodes</a>.
      </div>
    </div>

    <script>
      const headerImg = document.querySelector("#header-img");
      const themeToggler = document.querySelector(".theme-toggler");

      // Change Theme
      themeToggler.addEventListener('click', toggleDark);

      // Dark Mode function
      function toggleDark() {
         if (document.body.classList.contains("dark-theme-variables")) {
          document.body.classList.remove("dark-theme-variables");
          headerImg.src = "images/bg-desktop-light.jpg";
          localStorage.setItem("theme", "light");

          themeToggler
          .querySelector("span:nth-child(2)")
          .classList.add("active");
          themeToggler
          .querySelector("span:nth-child(1)")
          .classList.remove("active");
      }
      else {
          document.body.classList.add("dark-theme-variables");
          localStorage.setItem("theme", "dark");
          headerImg.src = "images/bg-desktop-dark.jpg"; 

          themeToggler
          .querySelector("span:nth-child(2)")
          .classList.remove("active");
          themeToggler
          .querySelector("span:nth-child(1)")
          .classList.add("active");
      }

    }

      if (localStorage.getItem("theme") === null){
        console.log("no theme selected");
        localStorage.setItem("theme", "light");
      }
      
      else if (localStorage.getItem("theme") === "dark") {

        console.log("dark theme selected");
        document.body.classList.add("dark-theme-variables");
        headerImg.src = "images/bg-desktop-dark.jpg";
        themeToggler
          .querySelector("span:nth-child(2)")
          .classList.remove("active");
          themeToggler
          .querySelector("span:nth-child(1)")
          .classList.add("active");
        
      }
      else if (localStorage.getItem("theme") === "light"){
        console.log("light theme selected");
        document.body.classList.remove("dark-theme-variables");
        headerImg.src = "images/bg-desktop-light.jpg";
        themeToggler
          .querySelector("span:nth-child(2)")
          .classList.add("active");
          themeToggler
          .querySelector("span:nth-child(1)")
          .classList.remove("active");
      }
    </script>
  </body>
</html>
